Config {
    c_samples =
      [ "samples/ElectricEmpireKit/EE Clap.wav"
      , "samples/ElectricEmpireKit/EE Clap Hard.wav"
      , "samples/ElectricEmpireKit/EE Conga 1.wav"
      , "samples/ElectricEmpireKit/EE Conga 2.wav"
      , "samples/ElectricEmpireKit/EE Drum 1.wav"
      , "samples/ElectricEmpireKit/EE Drum 2.wav"
      ],
    c_steps = 16
}